* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contactinfo {
    height: 60px;
    background: linear-gradient(to right, rgb(46, 90, 251), rgb(151, 18, 250));
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

.contactinfo div {
    display: flex;
    align-items: center;
}

svg {
    object-fit: contain;
    margin: 10px;
}

.nav {
    background-color: white;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 19px 20px 20px rgba(0, 0, 0, 0.1);
    
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

.nav-links li {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Spacing between icon and text */
    font-size: 16px;
    /* Increased text size */
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links li svg {
    width: 25px;
    /* Increased icon size */
    height: 25px;
    /* Increased icon size */
    /* transition: all 0.3s ease;    */
}

.nav-links li:hover {
    color: #7e22ce;
    /* Hover color for text */
    background-color: rgba(0, 0, 0, 0.05);
    /* Slight background on hover */
    padding: 10px 20px;
    border-radius: 25px;
}

.nav-links li svg:hover {
    fill: #7e22ce;
    /* Icon color change on hover */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div {
    margin: 5px;
    padding: 5px;
}

.logo img {
    height: 60px;
    width: auto;
}

.academy-name {
    font-weight: 800;
    background: linear-gradient(to right, #2563eb, #7e22ce);
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}

.tagline {
    font-size: 0.75rem;
    color: #6b7280;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.apply-now-btn {
    background: linear-gradient(to right, #2563eb, #7e22ce);
    color: white;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.sec-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 250px 200px 250px;
    gap: 50px;
    background: linear-gradient(to right, rgb(240, 235, 241), rgb(241, 220, 207));
    justify-content: space-between;
}

.sec-a h1 {
    font-size: 70px;
    padding: 5px;
}

.blue {
    color: rgb(21, 93, 252);
}

.sec-a p {
    font-size: 25px;
    padding: 5px;
    color: rgb(84, 94, 109);
}

.sec-a img {
    width: 550px;
    height: 550px;
    border-radius: 50%;
}

.get-started-btn {
    background: #2563eb;
    color: white;
    margin: 20px 20px 20px 4px;
    padding: 5px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    transition: all 0.6s ease;
    flex-wrap: nowrap;
    padding-left: 10px;
    margin-left: 20px;
    /* border: none;
    outline: none;
    box-shadow: none; */
}

.get-started-btn:hover {
    background-color: #0045cf;
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.courses-section {
    text-align: center;
    background: linear-gradient(to right, rgb(244, 248, 253), rgba(217, 237, 243, 0.568));
    padding: 60px 20px;
    margin-top: 5px;
}

.courses-header h2 {
    font-size: 2.5rem;
    color: #000000;
    font-weight: 800;
    margin-bottom: 40px;
}

.courses-header span {
    color: rgb(21, 93, 252);
}

.category {
    color: rgb(21, 93, 252);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.course-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 350px;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-icon {
    background-color: #f1f5f9;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon svg,
.card-icon img {
    width: 30px;
    height: 30px;
}

.card h3 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}

.card p {
    color: #6b7280;
    margin-bottom: 15px;
}

.card a {
    font-weight: 600;
    color: #2563eb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #7e22ce;
}

.view-all-courses {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.view-all-courses svg {
    flex-shrink: 0;
    object-fit: contain;
    height: 25px;
}

.view-all-courses button {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #2563eb;
    max-width: fit-content;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.6s ease;
}

.view-all-courses button:hover {
    background-color: #0045cf;
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.justification {
    margin: 30px auto;
    max-width: 1200px;
}

.lr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.right img {
    max-width: 100%;
    height: auto;
}

.grey {
    font-size: 20px;
    padding: 5px;
    color: rgb(84, 94, 109);
    font-weight: bold;
}

.heading {
    font-size: 60px;
    font-weight: 700;
    margin-top: 2px;
    padding: 5px;
}



.info-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    background: #f3efef;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    transition: all 0.6s ease;
}

.info-card:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Icon container */
.icon {
    width: 88px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    background: #e6f0ff;
}

.b span {
    background: #2563eb;
}

.g {
    background: #dbfce7;
}

.g span {
    background: #00a63e;
}

.p {
    background: #f3e8ff;
}

.p span {
    background: #9810fa;
}

/* Blue dot inside */
.icon span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.content h3 {
    margin: 0 0 6px;
    font-size: 20px;
    padding-top: 11px;
    font-weight: 600;
    color: #0f172a;
}

.content p {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    color: #475569;
}

.faq {
    /* margin: 90px auto;
        max-width: 800px; */
    background: linear-gradient(to right, rgb(239, 246, 255), rgb(239, 246, 255));
    padding: 60px 20px;
    /* space from screen edges */

}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top p {
    margin: 10px;
}

.faq-card {
    width: 60%;
    max-width: 900px;
    margin: 20px auto;

    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 0 35px;
    height: 70px;

    transition: background-color 0.3s ease;
    transition: all 0.6s ease;
}

.faq-card:hover {
    background-color: rgb(237, 242, 243);
    color: rgb(21, 92, 250);
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.faq-card:hover p {
    color: rgb(21, 92, 250);
}


.faq-card p {
    font-size: 25px;
    font-weight: 300;
    color: rgb(16, 46, 68);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonials {
    background: linear-gradient(180deg, #fff7f2, #ffffff);
    padding: 80px 0;
    padding-bottom: 160px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.subtitle {
    color: #3b5cff;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
}

h2 {
    font-size: 50px;
    margin-top: 10px;
}

h2 span {
    color: #6c63ff;
}

.desc {
    max-width: 600px;
    margin: 15px auto 50px;
    color: #555454;
    line-height: 1.6;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

/* Testimonial Card */
.testimonial-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
    text-align: left;
    position: relative;
}

.quote {
    font-size: 42px;
    color: #3b5cff;
}

.stars {
    color: #ffb703;
    font-size: 18px;
    margin: 10px 0;
}

.text {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-top: 10px;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.user img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 15px;
}

.user h4 {
    font-size: 16px;
    font-weight: 600;
}

.user span {
    font-size: 14px;
    color: #3b5cff;
}

/* Dots */
.dots {
    display: flex;
    gap: 8px;
    margin-top: 25px;
}

.dots span {
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.dots span.active {
    width: 24px;
    background: #3b5cff;
}

/* Stats */
.stats {
    text-align: left;
}


.stats h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.stats h3 span {
    color: #3b5cff;
}

.stats-desc {
    color: #666;
    line-height: 1.6;
}

.stat-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.stat {
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;
    transition: all 0.6s ease;
}

.stat:hover {
    background-color: rgb(240, 233, 229);
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.stat h4 {
    font-size: 34px;
    color: #3b5cff;
}

.stat.green h4 {
    color: #22c55e;
}

.stat.purple h4 {
    color: #8b5cf6;
}

.stat.orange h4 {
    color: #f97316;
}

.stat p {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* Responsive */
@media (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 34px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* FOOTER */
.footer {
    background: #000;
    color: #bbb;
    padding: 60px 40px 20px;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;

}

.footer-box {
    width: 23%;
    min-width: 220px;
}

.footer-box h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 8px;
}

.footer-box ul li a {
    color: #bbb;
    text-decoration: none;
}

.footer-box ul li a:hover {
    color: #1e90ff;
}

/* LOGO */
.logo {
    color: #1e90ff;
    margin-bottom: 10px;
}

/* SOCIAL ICONS */
.social a {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #1e90ff;
    color: #1e90ff;
    padding: 8px;
    border-radius: 6px;
}

/* FOOTER BOTTOM */
.footer-bottom {
    border-top: 1px solid #222;
    margin-top: 40px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}

.footer-bottom span {
    color: #1e90ff;
}

/* BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #1e90ff;
    color: #fff;
    padding: 14px 16px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
}

.back-to-top:hover {
    background: #0b5ed7;
}